<ion-header [translucent]="true">
  <!-- Toolbar with Title -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Transit Lines</ion-title>
  </ion-toolbar>

  <!-- Fixed Selectors -->
  <ion-toolbar>
    <!-- Start Line and Station -->
    <ion-item>
      <ion-label>Start</ion-label>
      <ion-select
        [(ngModel)]="selectedStartLineCode"
        (ionChange)="onStartLineChange()"
        interface="popover"
      >
        <ion-select-option *ngFor="let line of allLines" [value]="line.code">
          {{ line.name }}
        </ion-select-option>
      </ion-select>
      <ion-select
        [(ngModel)]="selectedStartStationCode"
        (ionChange)="onStartStationChange()"
        interface="popover"
      >
        <ion-select-option
          *ngFor="let station of filteredStartStations"
          [value]="station.code"
        >
          {{ station.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- End Line and Station -->
    <ion-item>
      <ion-label>End</ion-label>
      <ion-select
        [(ngModel)]="selectedEndLineCode"
        (ionChange)="onEndLineChange()"
        interface="popover"
      >
        <ion-select-option *ngFor="let line of allLines" [value]="line.code">
          {{ line.name }}
        </ion-select-option>
      </ion-select>
      <ion-select
        [(ngModel)]="selectedEndStationCode"
        (ionChange)="onEndStationChange()"
        interface="popover"
      >
        <ion-select-option
          *ngFor="let station of filteredEndStations"
          [value]="station.code"
        >
          {{ station.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- calculate -->
    <!-- <ion-button expand="full" (click)="calculatePath()">
      Find Best K Path
    </ion-button> -->
  </ion-toolbar>

  <ng-container
    *ngIf="isCalculationDone && calculatedPathsEnriched && calculatedPathsEnriched.length > 0"
  >
    <!-- Tabs for Routes -->
    <ion-toolbar>
      <ion-segment [(ngModel)]="selectedRoute" (ionChange)="onRouteChange()">
        <ion-segment-button value="preferred">
          Preferred Route
        </ion-segment-button>
        <ion-segment-button
          value="alternate1"
          *ngIf="calculatedPathsEnriched && calculatedPathsEnriched.length > 1"
        >
          Alternate Route 1
        </ion-segment-button>
        <ion-segment-button
          value="alternate2"
          *ngIf="calculatedPathsEnriched && calculatedPathsEnriched.length > 2"
        >
          Alternate Route 2
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <!-- Route Summary -->
    <ion-toolbar>
      <div class="route-summary" style="padding-left: 5px; padding-right: 5px">
        <div class="summary-item">
          <p><strong>Time:</strong> {{ currentRoute?.totalDuration }} mins</p>
        </div>
        <div class="summary-item">
          <p>
            <strong>Price:</strong>
            <!-- {{ currentRoute?.cost }} -->
          </p>
        </div>
        <div class="summary-item">
          <p>
            <strong>Stations:</strong> {{ currentRoute?.enrichedPath.length }}
          </p>
        </div>
        <div class="summary-item">
          <p><strong>Changes:</strong> {{ currentRoute?.transfers }}</p>
        </div>
        <!-- <div>
          <ion-button (click)="togglePathCollapse()">
            <ion-icon slot="icon-only" name="expand-outline"></ion-icon>
          </ion-button>
        </div> -->
      </div>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ng-container
  *ngIf="isCalculationDone && calculatedPathsEnriched && calculatedPathsEnriched.length > 0"
>
  <ion-content>
    <ion-list>
      <ng-container
        *ngFor="let station of currentRoute?.enrichedPath; let i = index"
      >
        <!-- Collapsed View -->
        <ng-container
          *ngIf="isPathCollapsed && station.isInBetweenStationTransfer; else expandedView"
        >
          <ion-item>
            <!-- <ion-badge slot="start">{{ i + 1 }}</ion-badge> -->
            <ion-label>{{ station.name }}</ion-label>
            <!-- <ion-chip
              [style.background-color]="station.lineBgColor || '#CCC'"
              [style.color]="station.lineTextColor || '#000'"
            >
              {{ station.lineCode }}
            </ion-chip> -->
          </ion-item>
        </ng-container>

        <!-- Expanded View -->
        <ng-template #expandedView>
          <ion-item>
            <ion-badge slot="start">{{ i + 1 }}</ion-badge>
            <ion-label>{{ station.name }}</ion-label>
            <ion-chip
              [style.background-color]="station.lineBgColor || '#CCC'"
              [style.color]="station.lineTextColor || '#000'"
            >
              {{ station.lineCode }}
            </ion-chip>
          </ion-item>

          <ion-item
            *ngIf="station?.activatedEdge?.transferType === 'inter-line'"
          >
            <!-- {{ station?.activatedEdge?.transferType | json }} -->
            <p class="inter-line-change">
              Change from {{ station.activatedEdge.from }} to {{
              station.activatedEdge.to }}
            </p>
          </ion-item>
        </ng-template>
      </ng-container>
    </ion-list>
  </ion-content>
</ng-container>

<ng-container
  *ngIf="isCalculationDone && (!calculatedPathsEnriched || !calculatedPathsEnriched.length)"
>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No Path Found</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          No path found between the selected stations. Please try changing the
          stations or lines.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-container>
