ion-item {
  h2 {
    font-size: 1.2em;
    margin: 0;
  }

  p {
    margin: 4px 0;
    font-size: 0.9em;
  }

  .operational {
    color: green;
    font-weight: bold;
  }

  .non-operational {
    color: red;
    font-weight: bold;
  }
}

ion-thumbnail {
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.route-summary {
  display: flex;
  justify-content: space-around; /* Distribute items evenly */
  align-items: center; /* Align items vertically */
  padding: 8px 0;
}

.summary-item {
  text-align: center;
  flex: 1; /* Ensures equal width for all items */
}

.inter-line-change {
  color: red;
  font-weight: bold;
  margin-top: 4px;
}
.station-icon {
  color: #007bff; // Example color
}
