ion-item {
  h2 {
    font-size: 1.2em;
    margin: 0;
  }

  p {
    margin: 4px 0;
    font-size: 0.9em;
  }

  .operational {
    color: green;
    font-weight: bold;
  }

  .non-operational {
    color: red;
    font-weight: bold;
  }
}

ion-thumbnail {
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.route-summary {
  display: flex;
  justify-content: space-around; /* Distribute items evenly */
  align-items: center; /* Align items vertically */
  padding: 8px 0;
}

.summary-item {
  text-align: center;
  padding-left: 15px;
  padding-right: 5px;
  display: flex;
}

.inter-line-change {
  // color: red;
  margin-top: 4px;
  width: 100%;
  justify-content: center;
  display: flex;
}
.station-icon {
  color: #007bff; // Example color
}

.collapsed-stations {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 5px 0;
}

.collapsed-stations ion-badge {
  margin-right: 4px;
  background-color: #ccc;
  color: #000;
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
