<ion-header [translucent]="true">
  <!-- Toolbar with Title -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Trip Planner</ion-title>
  </ion-toolbar>

  <!-- Fixed Selectors -->
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <!-- Start Station Button -->
        <ion-col size="6" class="m-0 p-0">
          <!-- start station button -->
          <ion-item button id="select-station-start">
            <!-- Icon for Start Station -->
            <ion-icon
              [name]="'location-outline'"
              slot="start"
              style="margin-right: 15px"
            ></ion-icon>
            <ion-label class="ellipsis">
              <ng-container *ngIf="!selectedStartStation"
                >Select Start Station</ng-container
              >
              <ng-container *ngIf="selectedStartStation">
                {{ selectedStartStation.lineCode }} - {{
                selectedStartStation.name }}
              </ng-container>
            </ion-label>
          </ion-item>
        </ion-col>

        <!-- End Station Button -->
        <ion-col size="6" class="m-0 p-0">
          <!-- end station button -->
          <ion-item button id="select-station-end">
            <ion-icon
              [name]="'location-outline'"
              slot="start"
              style="margin-right: 15px"
            ></ion-icon>
            <ion-label class="ellipsis">
              <ng-container *ngIf="!selectedEndStation"
                >Select End Station</ng-container
              >
              <ng-container *ngIf="selectedEndStation">
                {{ selectedEndStation.lineCode }} - {{ selectedEndStation.name
                }}
              </ng-container>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- start station modal -->
    <ion-modal
      #modalStartStation
      trigger="select-station-start"
      (willPresent)="filterStartStations2()"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Select Station</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modalStartStation.dismiss()"
                >Close</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
          <ion-searchbar
            #startStationSearchbar
            [(ngModel)]="searchQueryStartStation"
            (ionInput)="filterStartStations2()"
          ></ion-searchbar>

          <!-- line filter: set a filter for each button. then when clicked it should filter all the stations -->
          <ion-toolbar>
            <ion-buttons style="padding-left: 5px">
              <ion-button
                *ngFor="let line of allLines"
                fill="outline"
                [fill]="searchQueryStartStationLine === line.code ? 'solid' : 'outline'"
                style="margin-left: 5px"
                (click)="filterStartStations2_ByLine(line.code)"
              >
                {{ line?.code }}
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item
              *ngFor="let station of startStations"
              (click)="selectStartStation(station); modalStartStation.dismiss()"
              [color]="selectedStartStationCode === station.code || selectedEndStationCode === station.code ? 'primary': ''"
            >
              {{ station.lineCode }} - {{ station.name }}
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- end station modal -->
    <ion-modal
      #modalEndStation
      trigger="select-station-end"
      (willPresent)="filterEndStations2()"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Select Station</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modalEndStation.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-searchbar
            #endStationSearchbar
            [(ngModel)]="searchQueryEndStation"
            (ionInput)="filterEndStations2()"
          ></ion-searchbar>

          <!-- line filter: set a filter for each button. then when clicked it should filter all the stations -->
          <ion-toolbar>
            <ion-buttons style="padding-left: 5px">
              <ion-button
                *ngFor="let line of allLines"
                [fill]="searchQueryEndStationLine === line.code ? 'solid' : 'outline'"
                style="margin-left: 5px"
                (click)="filterEndStations2_ByLine(line.code)"
              >
                {{ line?.code }}
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item
              *ngFor="let station of endStations"
              (click)="selectEndStation(station); modalEndStation.dismiss()"
              [color]="selectedStartStationCode === station.code || selectedEndStationCode === station.code ? 'primary': ''"
            >
              {{ station.lineCode }} - {{ station.name }}
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-toolbar>

  <ng-container
    *ngIf="isCalculationDone && calculatedPathsEnriched && calculatedPathsEnriched.length > 0"
  >
    <!-- Tabs for Routes -->
    <ion-toolbar style="padding-top: 5px">
      <ion-segment [(ngModel)]="selectedRoute" (ionChange)="onRouteChange()">
        <ion-segment-button value="preferred">
          Preferred Route
        </ion-segment-button>
        <ion-segment-button
          value="alternate1"
          *ngIf="calculatedPathsEnriched && calculatedPathsEnriched.length > 1"
        >
          Alternate Route 1
        </ion-segment-button>
        <ion-segment-button
          value="alternate2"
          *ngIf="calculatedPathsEnriched && calculatedPathsEnriched.length > 2"
        >
          Alternate Route 2
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <!-- Route Summary -->
    <ion-toolbar>
      <div class="route-summary" style="padding-left: 5px; padding-right: 5px">
        <div class="summary-item">
          <ion-icon name="time-outline"></ion-icon>
          <span style="margin-left: 5px"
            >{{ currentRoute?.totalDuration }} mins</span
          >
        </div>
        <div class="summary-item">
          <!-- <ion-icon name="card-outline"></ion-icon> -->
          <span style="margin-left: 5px">
            {{ currentRoute?.pathFare | currency:'PHP':'symbol':'1.2-2' }}
          </span>
        </div>
        <div class="summary-item">
          <!-- display path as segments -->
          <ng-container *ngFor="let segment of currentRoute?.pathSegments">
            <ion-icon
              name="analytics-outline"
              style="margin-left: 5px; margin-top: 1px"
            ></ion-icon>
            <span style="margin-left: 2px">
              {{ segment?.stations?.length }}
            </span>
          </ng-container>
        </div>
        <!-- <div class="summary-item">
          <p><strong>Changes:</strong> {{ currentRoute?.transfers }}</p>
        </div> -->

        <div style="flex: 1; text-align: right">
          <ng-container *ngIf="pathViewMode === 'list'">
            <ion-button (click)="showPathInMap()">
              <ion-icon slot="start" name="map-outline"></ion-icon>
              Map
            </ion-button>

            <!-- <ion-button (click)="togglePathCollapse()">
            <ion-icon slot="icon-only" name="expand-outline"></ion-icon>
          </ion-button> -->
          </ng-container>

          <ion-button *ngIf="pathViewMode === 'map'" (click)="showPathInList()">
            <ion-icon slot="start" name="list-outline"></ion-icon>
            List
          </ion-button>
        </div>
      </div>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ng-container
  *ngIf="isCalculationDone && calculatedPathsEnriched && calculatedPathsEnriched.length > 0"
>
  <ion-content>
    <div [hidden]="pathViewMode !== 'map'" style="height: 100%">
      <app-map-viewer
        [masterMapDisplayMode]="'minimal'"
        [highlightStationsArray]="currentRoute?.allStations || []"
        [highlightEdgesArray]="currentRoute?.allEdges || []"
      ></app-map-viewer>
    </div>

    <div [hidden]="pathViewMode !== 'list'">
      <ion-list lines="full">
        <ng-container
          *ngFor="let station of currentRoute?.enrichedPath; let i = index"
        >
          <!-- Collapsed View -->
          <ng-container
            *ngIf="isPathCollapsed && station.isInBetweenStationTransfer; else expandedView"
          >
            <ion-item>
              <!-- <ion-badge slot="start">{{ i + 1 }}</ion-badge> -->
              <ion-label>{{ station.name }}</ion-label>
              <!-- <ion-chip
              [style.background-color]="station.lineBgColor || '#CCC'"
              [style.color]="station.lineTextColor || '#000'"
            >
              {{ station.lineCode }}
            </ion-chip> -->
            </ion-item>
          </ng-container>

          <!-- Expanded View -->
          <ng-template #expandedView>
            <ion-item>
              <div style="text-align: center; width: 30px; margin-right: 10px">
                {{ i + 1 }}
              </div>
              <div
                *ngIf="station.customIconPath"
                style="text-align: center; width: 30px; margin-right: 10px"
              >
                <img
                  src="{{ station.customIconPath }}"
                  style="width: 30px; height: 30px"
                />
              </div>
              <ion-label>{{ station.name }} </ion-label>
              <ion-chip
                [style.background-color]="station.lineBgColor || '#CCC'"
                [style.color]="station.lineTextColor || '#000'"
              >
                {{ station.lineCode }}
              </ion-chip>
            </ion-item>

            <ion-item *ngIf="station?.nextEdge?.transferType === 'inter-line'">
              <!-- {{ station?.nextEdge?.transferType | json }} -->
              <p class="inter-line-change">
                <ion-icon
                  *ngIf="station.nextEdge.transitMode === 'walk'"
                  name="walk-outline"
                  style="font-size: 20px; margin-right: 5px"
                ></ion-icon>
                {{ station.nextEdge.transitMode | titlecase }} {{
                station.nextEdge.duration }}
                <ng-container *ngIf="station.nextEdge?.distance">
                  &nbsp;({{ station.nextEdge.distance }})
                </ng-container>
              </p>
            </ion-item>

            <!-- display activated edge -->
            <!-- <ng-container *ngIf="station?.nextEdge">
              <ion-item
                *ngIf="station?.prevEdge?.transferType === 'inter-station'"
              >
                <p class="inter-station-change">
                  -- {{station.prevEdge.price}} PREV Change from {{
                  station.prevEdge.from }} to {{ station.prevEdge.to }}
                </p>
              </ion-item>

              <ion-item
                *ngIf="station?.nextEdge?.transferType === 'inter-station'"
              >
                <p class="inter-station-change">
                  {{station.nextEdge.price}} Change from {{
                  station.nextEdge.from }} to {{ station.nextEdge.to }}
                </p>
              </ion-item>
            </ng-container> -->
          </ng-template>
        </ng-container>
      </ion-list>
    </div>
  </ion-content>
</ng-container>

<ng-container
  *ngIf="isCalculationDone && (!calculatedPathsEnriched || !calculatedPathsEnriched.length)"
>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No Path Found</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          No path found between the selected stations. Please try changing the
          stations or lines.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-container>
