<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Version</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Version History</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Add visible content here -->
  <div id="main-content" style="padding: 10px">
    <h1>Version History</h1>

    <p>Philippine Metro v1.0</p>

    <p>-v1.0 Initial Release</p>
  </div>
</ion-content>
