<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>LRT 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Stations</ion-label>
    </ion-list-header>

    <!-- Display Each Station -->
    <ion-item *ngFor="let station of stations">
      <ion-thumbnail slot="start">
        <img [src]="station.image" alt="{{ station.name }}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ station.name }}</h2>
        <p>{{ station.description }}</p>
        <p>
          Status:
          <span
            [class.operational]="station.isOperational"
            [class.non-operational]="!station.isOperational"
          >
            {{ station.isOperational ? 'Operational' : 'Not Operational' }}
          </span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
