<google-map
  height="100%"
  width="100%"
  [center]="center"
  [zoom]="zoom"
  [options]="mapOptions"
>
  <!-- master: stations -->
  <ng-container *ngFor="let station of stationsArray">
    <!-- <map-marker
      *ngIf="station.coordinates"
      [position]="station.coordinates!"
      [title]="station.name"
      [label]="getStationLabel(station)"
      [icon]="getStationIcon(station)"
    ></map-marker> -->

    <!-- <map-advanced-marker
      *ngIf="station.coordinates"
      [position]="station.coordinates!"
      [title]="station.name"
      [content]="getStationContent(station)"
    >
    </map-advanced-marker> -->
  </ng-container>

  <!-- master: edges -->
  <ng-container *ngFor="let edge of edgesArray">
    <map-polyline
      *ngIf="edge.path && !edge.hide"
      [path]="edge.path"
      [options]="getEdgeOptions(edge)"
    ></map-polyline>
  </ng-container>

  <!-- highlight: stations -->
  <ng-container *ngFor="let station of highlightStationsArray">
    <map-marker
      *ngIf="station.coordinates"
      [position]="station.coordinates!"
      [title]="station.name"
      [label]="getStationLabel(station, 'highlight')"
      [icon]="getStationIcon(station, 'highlight')"
    ></map-marker>
  </ng-container>

  <!-- highlight: station actions -->
  <ng-container *ngFor="let station of highlightStationsArray">
    <map-marker
      *ngIf="station.coordinates && station.stationAction !== null"
      [position]="station.coordinates!"
      [title]="station.name"
      [icon]="getStationActionIcon(station)"
    ></map-marker>
  </ng-container>

  <!-- highlight: edges -->
  <ng-container *ngFor="let edge of highlightEdgesArray">
    <map-polyline
      *ngIf="edge?.path"
      [path]="edge.path!"
      [options]="getEdgeOptions(edge, 'highlight')"
    ></map-polyline>
  </ng-container>
</google-map>
