<ion-header>
  <ion-toolbar>
    <ion-title>{{ station?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img
    [src]="station?.image || defaultStationImage"
    style="
      max-height: 200px;
      max-width: 100%;
      object-fit: cover;
      overflow: hidden;
    "
  ></ion-img>

  <div style="padding: 10px">
    <p>{{ station?.description }}</p>

    <ion-button expand="full" (click)="startHere(station)">
      Start Here
    </ion-button>
    <ion-button
      style="margin-top: 10px"
      expand="full"
      (click)="getDirections(station)"
    >
      Go Here
    </ion-button>
  </div>
  <!-- Additional content and buttons -->
</ion-content>
