<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Select Transit Line</ion-label>
    <ion-select
      interface="popover"
      [(ngModel)]="selectedLine"
      (ionChange)="onLineChange($event)"
    >
      <ion-select-option *ngFor="let line of transitLines" [value]="line"
        >{{ line.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-grid style="overflow-x: auto">
    <!-- Header Row -->
    <ion-row style="flex-wrap: nowrap">
      <ion-col
        ><div style="width: 3rem">
          <strong></strong></div
      ></ion-col>
      <ion-col
        *ngFor="let dest of destinations; let colIndex = index"
        [ngClass]="{ 'highlight-column': colIndex === selectedColIndex }"
        style="
          width: 1.5rem;
          min-width: 1.5rem;
          white-space: nowrap;
          text-align: center;
        "
        (click)="selectCol(colIndex)"
      >
        <div class="vertical-header">
          <strong>{{ cleanStationName(dest) }}</strong>
        </div>
      </ion-col>
    </ion-row>

    <!-- Fare Rows -->
    <ion-row
      *ngFor="let origin of origins; let rowIndex = index"
      style="flex-wrap: nowrap"
    >
      <ion-col
        [ngClass]="{ 'highlight-row': rowIndex === selectedRowIndex }"
        (click)="selectRow(rowIndex)"
      >
        <div style="width: 3rem; overflow: hidden; white-space: nowrap">
          <strong>{{ cleanStationName(origin) }}</strong>
        </div>
      </ion-col>
      <ion-col
        *ngFor="let dest of destinations; let colIndex = index"
        (click)="selectCell(rowIndex, colIndex)"
        [ngClass]="{
          'highlight-cell': rowIndex === selectedRowIndex && colIndex === selectedColIndex,
          'highlight-column': colIndex === selectedColIndex,
          'highlight-row': rowIndex === selectedRowIndex
        }"
        style="
          width: 1.5rem;
          min-width: 1.5rem;
          white-space: nowrap;
          text-align: center;
        "
      >
        {{ getFare(origin, dest) }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
